$color-light: #f4f7fa;
$color-dark: #242527;
$color-blue: #2980B9;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background: #DDE1E7;
    color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
  margin-bottom: 20px;
  color: $color-blue;
}

h2 {
  padding-top: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}

h2#dots {
  margin-top: 50px;
}

p {
  margin-bottom: 10px;
}

.Link,
.Link:active,
.Link:visited {
  color: $color-blue;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

.Link:hover {
  border-bottom-color: #999;
}

label {
  display: block;
  margin: 20px 0 5px;
}

label span {
  color: #999;
  display: block;
  font-size: 14px;
}

.FileInput + label,
.Button,
button {
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  display: inline-block;
  background: #fff;
  font-size: 14px;
  border-radius: 50px;
  padding: 5px 12px;
  transition: all 250ms;
  outline: none;
  color: #333;
  text-decoration: none;
}

.FileInput:hover + label,
.Button:hover,
button:hover {
  color: $color-blue;
  border-color: $color-blue;
  cursor: pointer;
}

.Button:focus,
.FileInput:focus + label,
button:focus {
  color: $color-blue;
  border-color: $color-blue;
  cursor: pointer;
}

.Button--noTopMargin {
  margin-top: 0;
}

.FileInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.App {
  margin: 0 auto 100px;
}

.Intro {
  padding: 20px;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.Debug {
  canvas {
    width: 100%;
    max-width: 800px;
    display: block;
    position: relative;
    margin: 0 auto;
  }
}

.SvgWrapper {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .SvgWrapper {
    max-width: 800px;
  }
}

.SvgWrapper-svg {
  padding: 20px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.SvgWrapper-inner {
  width: 100%;
  background: $color-light;
  border-radius: 50%;
  padding-bottom: 100%;
  height: 0;
  position: relative;
}

.SvgWrapper-inner--invert {
  background: $color-dark;
}

circle {
  fill: $color-dark;
  transition: all 500ms;
}

.Dots-plottingHelper,
.Spiral-plottingHelper {
  fill: none;
  stroke-width: 0.5;
  // stroke:blue;
}

path {
  fill: $color-dark;
}


.SvgWrapper-inner--invert {
  circle {
    fill: $color-light;
  }

  path {
    fill: $color-light;
  }

  .Dots-plottingHelper,
  .Spiral-plottingHelper {
    fill: none;
    stroke: $color-dark;
  }
}

.SvgWrapper svg {
  display: block;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.TestImage {
  display: none;
}

.OptionsInputValue {
  margin-left: 5px;
  width: 20px;
  display: inline-block;
  transform: translateY(2px);
}

@media (min-width: 850px) {
  .Content {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .Content {
    max-width: 1100px;
  }
}

.Controls {
  padding: 20px;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  position: relative;
}

@media (min-width: 850px) {
  .Controls {
    padding: 0 20px;
  }
}


small {
  margin-top: 50px;
  display: block;
  color: #999;
}

input[type=range] {
  -webkit-appearance: none;
  width: 60%;
  background: none;
  padding: 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #333333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0.15);
}

input[type=range]:focus::-webkit-slider-thumb {
  background: $color-blue;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #333333;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #333333;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.1);
}

input[type=range]:focus::-ms-fill-upper {
  background: rgba(43, 43, 43, 0.1);
}
